@model Art.Models.Invoice

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-image: url("/Images/invoiceImage.jpg");
        background-repeat: no-repeat;
        color: white;
        text-shadow: 1px 1px #000000;
    }
</style>

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkGuidUserNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkGuidUserNavigation.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIdEventNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIdEventNavigation.EventName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdInvoice">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
